@import "tailwindcss";

@layer base {
  * {
    font-family: "Noto Sans SC", "PingFang SC", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}
